body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    line-height: 2;
}


header {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    color: #fff; /* Adjusted text color to white for better contrast */
    padding: 1.25rem 0;
    border-bottom: 0.3125rem solid #000000;
}


.container {
    max-width: 93rem;
    width: 100%; 
    /* width: auto;  */
    margin: auto;
    padding: 1.25rem;
    text-align: center; /* Center the text for smaller containers */
}

.pcontainer {
    max-width: 93rem;
    /* width: 100%;  */
    width: auto; 
    margin: auto;
    padding: 1.25rem;
    text-align: center; /* Center the text for smaller containers */
}


.header-container {
    background-image: url('movingSun.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: auto; 
    /* overflow: auto; Adds scrollbars if content overflows */
    background-color: #000; /* Outer color */
    color: #fff; 
    width: auto;
    margin: auto;
    padding: 12.5rem 3.75rem;
    text-align: center; 
}

.header-container h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800; 
    font-size: 5rem; 
/*     text-transform: uppercase; */
    text-shadow: 0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.8);
    position: relative;
    margin: auto;
}


.header-container p {
    font-family: "Bad Script", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 4rem;
    text-shadow: 0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.9);
    position: relative;
    margin: auto;
}

 
.header-container h2 {

    font-family: 'Times New Roman', Times, serif;
    font-weight: 200; 
    font-size: 2.8rem;
    font-style: italic;
    color: #ffffffd7;
    text-shadow: 0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
}


section {
    padding: 1.25rem 0;
}

h2 {
    font-size: 1.75rem;
    color: #333;
}

p, a {
    font-size: 1.125rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
}


th, td {
    padding: 0.625rem;
    border: 1.5px solid #ccc;
    text-align: center;
    color: #333;
    min-width: 1rem;
    max-width: 43rem; 
    /* width: auto; */
    height: auto;
    margin: auto;
}

th {
    /* background-color: #007bff; */
    background-color: #333;
    color: #ffffff
}

a {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    color: #007bff;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

footer {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    padding: 0.5rem;
    background: #eaeaea;
}

/* .upcoming-meeting-container, .past-meeting-container {
    display: flex;
    flex-direction: column;
    max-width: 68.75rem; 
    margin: auto;
    padding: 1.25rem; 
    
} */

.upcoming-meeting-container {
    display: flex;
    flex-direction: row; /* Align children side by side */
    justify-content: space-between; /* Space between the text and image */
    align-items: center; /* Align items vertically in the center */
    max-width: 93rem;
    margin: auto;
    padding: 1.25rem;
    
}

.meeting-image-placeholder {
    flex-basis: 60%; /* Allocate width to the image container */
    text-align: center; /* Center the image if it's smaller than the container */
}

.upcoming-meeting-image {
    max-width: 100%; /* Ensure the image is responsive and doesn't overflow its container */
    height: auto; /* Maintain aspect ratio */
}

.past-meeting-container {
    display: flex;
    flex-direction: column;
    max-width: 68.75rem; /* 1100px / 16px = 68.75rem */
    margin: auto;
    padding: 1.25rem; /* 20px / 16px = 1.25rem */
}

#upcoming-meeting.container {
    text-align: left; /* Explicitly aligns text to the left */
}

#upcoming-meeting {

    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border-left: none; /* Removes the left border */
    font-weight: bold; /* Make the font bold */
}

#upcoming-meeting h2 {
    color: #333; /* Standard text color, adjust if you want to keep it blue for emphasis */
    font-size: 3.8rem; /* Adjusts the font size back to match other headings if desired */
}

#upcoming-meeting p {
    color: #333; /* Standard text color, adjust if you want to keep it blue for emphasis */
    font-size: 2rem; /* Adjusts the font size back to match other headings if desired */
}

.presenter-name {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    color: #333;
}

#upcoming-meeting a {
    font-size: 2rem; /* Adjusts the font size back to match other headings if desired */
}


img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: auto;
}

#intermediate img {
    width: 30%;
    height: auto;
    display: block;
    margin: auto;

}
/* Adjustments for "Past Meetings" to make it less emphasized compared to "Upcoming Meeting" */
#past-meetings {
    padding: 1.25rem;
    
}

#past-meetings h2 {
    color: #333; /* Standard text color */
    font-size: 3rem; /* Standard size, slightly smaller than "Upcoming Meeting" */
    text-align: center;
    padding: auto;
    margin: auto;

}


@media only screen and (max-width: 600px) {

    .container {
        width: auto; 
        /* width: auto;  */
        margin: 0;
        text-align: center; /* Center the text for smaller containers */
    }

    .header-container {
        padding: 4.5rem 2rem;
        /* margin: auto; */
        /* width: 100%; */
        margin: 0;
        height: auto;
        text-align: center; 
    } 

    .header-container h1 {
        font-size: 0.5rem;
    }

    .header-container p {
        font-size: 0.5rem;
    }


    .upcoming-meeting-container {
        flex-direction: column;
        margin: 0;
        
    }
    .past-meeting-container {
        flex-direction: column;
        margin: 0;
    }

    .meeting-image-placeholder {
        width: 85%;
        margin: 0;
    }
    body, p, a {
        font-size: 0.5rem; /* Adjust base font size for smaller screens */
    }

    h1 {
        font-size: 0.5rem; /* Adjust h1 font size for smaller screens */
    }

    h2 {
        font-size: 0.5rem; /* Adjust h2 font size for smaller screens */
    }

    .header-container h1 {
        font-size: 2rem; /* Further adjustments for specific elements */
    }

    .header-container h2 {
        font-size: 1.2rem; /* Further adjustments for specific elements */
    }

    .header-container p {
        font-size: 1.5rem; /* Further adjustments for specific elements */
    }

    #upcoming-meeting a {

        font-size: 2rem; /* Adjust font size for links */
    }

    #upcoming-meeting h2 {
        color: #333; /* Standard text color, adjust if you want to keep it blue for emphasis */
        font-size: 2.5rem; /* Adjusts the font size back to match other headings if desired */
    }

    #past-meetings h2 {
        color: #333; /* Standard text color */
        font-size: 2.2rem; /* Standard size, slightly smaller than "Upcoming Meeting" */
        text-align: center;
        padding: auto;
        margin: auto;
        /* margin-right: -5rem; */
    
    }

    
    .presenter-name {
        font-size: 2rem; /* Adjust font size for descriptions and links */
    }

}

